git+https://github.com/dbt-labs/dbt-redshift.git@1.2.0rc1
git+https://github.com/dbt-labs/dbt-snowflake.git@1.2.0rc1
git+https://github.com/dbt-labs/dbt-bigquery.git@1.2.0rc1
git+https://github.com/dbt-labs/dbt-core.git@0db634d#egg=dbt-core&subdirectory=core